*{
    font-family: "Arial";
    user-select: none;
    color: #003366;
}

body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colorwhite{
  color: white;
}

a{
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    background-color: #3280fc;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    margin: 6px;
    width: 400px;
    text-align: center;
}
