*{
    font-family: Roboto Mono;
    user-select: none;
    color: white;
    margin-left: 5px;
}

body{
    background-color: #0D0221;
}

a{
    background-color: #3280fc;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin: 4px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

h1{
    color: #05fcb6;
}

