*{
    font-family: Arial ;
    user-select: none;
    color: #003366;
    margin-left: 5px;
}

body{
    background-color: white;
    text-align: center;
}

a{
    background-color: #3280fc;
    width: 300px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
}

h1{
  color: #003366;
}

h4{
  margin: 0;
}

.card{
  display: inline-block;
  width: 600px;
  background-color: #e8e8e8;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
}

