* {
    font-family: "Arial";
    font-weight: bold;
    user-select: none;
}

body {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
}

.nav-bar-item {
    transition: 100ms ease;
    font-weight: bold;
    background-color: #1a4999;
    padding: 5px;
    border-radius: 5px;
}

a {
    color: black;
}

p {
    color: #1a4999;
}

.textdecnon{
  text-decoration: none;
}

.lg {
    width: 500px;
}

.tlg {
    font-size: 1.5rem;
}

.italics {
    font-style: italic;
}

.nav-bar-item:hover {
    transform: scale(1.1);
}

.colorwhite{
  color: white;
}

.colorblack{
  color: #003366;
}

h1 {
    color: #003366;
    transition: 0.5s ease;
}

h1:hover{
  transform: scale(1.08);
}
