* {
    font-family: Arial;
    user-select: none;
    color: #003366;
    margin-left: 5px;
}

body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

a {
    background-color: #3280fc;
    width: 300px;
    padding: 10px;
    text-align: center;
    margin: 4px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: #003366;
}

.card-container{
  display: flex;
  gap: 20px;
}

.card {
    width: 350px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 30px;
    margin: 0px;
    padding: 5px;
    transition: 400ms ease;
}

table {
    margin: 0;
}

td,
th {
    text-align: center;
    min-width: 250px;
}

.smlh {
    line-height: 7px;
}

.lgtm {
    margin-top: 50px;
}

.jttf{
  background-color: #003366;
  width: 100%;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}


.colorwhite{
  color: white;
}

.margin-top{
  margin-top: 150px;
}

.fancytable{
  display: flex;
  gap: 200px;
}

.blockdisplay *{
  display: block;
}

.bgblue{
  background-color: #003366;
  color: white;
}

.cardwidthhigh{
  width: 700px;
}

.card:hover{
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.01);
}


.flexcolumn{
  flex-direction: column;
}

.corevalues{
  background-color: #e9eff5;
  padding: 30px;
  text-align: center;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
}

.corevalues h1{
  margin: 0;
}

.warning{
  color: red;
  font-size: 1.4rem;
  font-weight: bold;
}
