*{
    font-family: "Arial";
    user-select: none;
    color: #003366;
}

body{
    background-color: white;
    text-align: center;
}

.card{
    font-size: smaller;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    margin-left: 10px;
}
